<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
          
<script type="text/javascript" src="utils.js"></script>          
<script type="text/javascript" src="bitrates_chart.js"></script>



<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Year 
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">2014</a></li>
    <li><a href="#">2015</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Moth
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">01</a></li>
    <li><a href="#">02</a></li>
  </ul>
</div>


<h1 class="text-center">BitRates</h1>

<div class="row">
    <div id="bitrates_chart" style="width: 1200px; height: 900px"></div>
</div>