<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
          
<script type="text/javascript" src="utils.js"></script>          
<script type="text/javascript" src="concurrence_chart.js"></script>


<div class="container" ng-app="ConcurrenceModule" ng-controller="ConcurrenceController" ng-cloak>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span ng-hide="yearChoose">Año</span>
    <span ng-show="yearChoose">{{yearChoose}}</span> 
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="year in years" ><a ng-click="choiceYear(year)" href="#">{{year}}</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span ng-hide="yearChoose">Mes</span>
    <span ng-show="yearChoose">{{monthChoose}}</span> 
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="month in months" ><a ng-click="choiceMonth(month)" href="#">{{month}}</a></li>
  </ul>
</div>


<h1 class="text-center">Usuarios Concurrentes</h1>

<div class="row">
    <div id="concurrence_chart" style="width: 1200px; height: 900px"></div>
</div>

</div> <!-- container -->